# This file is intentionally left blank because the application 
# takes the API keys via the UI so that any evaluator can test it.
# You can optionally set them here.

OPENAI_API_KEY=
QDRANT_URL=
QDRANT_API_KEY=
